<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tareas</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand">Lista de Tareas</a>
        </div>
    </nav>
    <div class="container">  
        <br>   
        <div>
            <a href="/tareas/nuevo" class="btn btn-primary">Nuevo</a>
            <a href="/" class="btn btn-secondary">Regresar</a>
        </div>
        <br>
        <div>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Actividad</th>
                        <th scope="col">Categoria</th>
                        <th colspan="4" scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <%
                    for(var i=0; i<data.length; i++)
                    {
                    %>
                    <tr>
                        <td><%=data[i].actividad%> </td>
                        <td><%=data[i].categoria%></td>
                        <td><a href="/tareas/calificar/<%=data[i].id%>" class="btn btn-success">Calificar</a></td>
                        <td><a href="/tareas/consultar/<%=data[i].id%>" class="btn btn-info">Consultar</a></td>
                        <td><a href="/tareas/editar/<%=data[i].id%>" class="btn btn-warning">Editar</a></td>
                        <td><a href="/tareas/eliminar/<%=data[i].id%>" class="btn btn-danger">Eliminar</a></td>
                    </tr>
                    <%}%>
                </tbody>
            </table>
        </div>
    </div>
    <script src="/bootstrap.bundle.min.js"></script>
</body>
</html>